In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('day1_2.txt')

In [3]:
data.head(3)

   day1_2
0     118
1     121
2     123

In [4]:
col_list = data['day1_2'].tolist()

In [5]:
len(col_list)

2000