In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('test_data.csv')

In [3]:
data.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2018-M020,Brisbane,Hard,32,A,20180101,271,105992,NaN,NaN,...,47.0,33.0,19.0,14.0,1.0,4.0,47.0,1010.0,52.0,909.0
1,2018-M020,Brisbane,Hard,32,A,20180101,272,111577,NaN,NaN,...,41.0,25.0,7.0,9.0,7.0,11.0,54.0,890.0,94.0,593.0
2,2018-M020,Brisbane,Hard,32,A,20180101,273,104797,NaN,NaN,...,53.0,37.0,29.0,15.0,10.0,16.0,63.0,809.0,30.0,1391.0
3,2018-M020,Brisbane,Hard,32,A,20180101,275,200282,NaN,WC,...,43.0,33.0,17.0,11.0,4.0,6.0,208.0,245.0,44.0,1055.0
4,2018-M020,Brisbane,Hard,32,A,20180101,276,111581,NaN,Q,...,35.0,28.0,5.0,9.0,0.0,2.0,175.0,299.0,68.0,755.0

In [4]:
data.shape

(2889, 49)

In [5]:
data.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

In [19]:
djokow = data[data['winner_name'] == 'Novak Djokovic']
djokow.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
179,2018-580,Australian Open,Hard,128,G,20180115,141,104925,14.0,NaN,...,59.0,28.0,24.0,12.0,19.0,25.0,14.0,2335.0,63.0,816.0
223,2018-580,Australian Open,Hard,128,G,20180115,221,104925,14.0,NaN,...,60.0,38.0,22.0,17.0,8.0,15.0,14.0,2335.0,39.0,1265.0
245,2018-580,Australian Open,Hard,128,G,20180115,311,104925,14.0,NaN,...,57.0,34.0,20.0,13.0,7.0,12.0,14.0,2335.0,22.0,1845.0
1062,2018-0410,Monte Carlo Masters,Clay,64,M,20180416,265,104925,9.0,NaN,...,18.0,6.0,6.0,6.0,4.0,9.0,13.0,2310.0,93.0,639.0
1079,2018-0410,Monte Carlo Masters,Clay,64,M,20180416,283,104925,9.0,NaN,...,48.0,31.0,14.0,12.0,4.0,8.0,13.0,2310.0,39.0,1251.0

In [20]:
djokow[djokow['tourney_level'] == 'G'].count()

31

In [21]:
djokol = data[data['loser_name'] == 'Novak Djokovic']
djokol.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
256,2018-580,Australian Open,Hard,128,G,20180115,406,111202,NaN,NaN,...,81.0,53.0,19.0,18.0,4.0,10.0,58.0,857.0,14.0,2335.0
758,2018-M006,Indian Wells Masters,Hard,128,M,20180305,242,106121,NaN,Q,...,60.0,39.0,18.0,14.0,8.0,11.0,109.0,539.0,13.0,2380.0
861,2018-M007,Miami Masters,Hard,128,M,20180319,250,105332,NaN,NaN,...,34.0,18.0,13.0,10.0,4.0,8.0,47.0,1075.0,12.0,2300.0
1088,2018-0410,Monte Carlo Masters,Clay,64,M,20180416,292,106233,5.0,NaN,...,72.0,46.0,20.0,15.0,5.0,10.0,7.0,3665.0,13.0,2310.0
1125,2018-0425,Barcelona,Clay,64,A,20180423,282,105373,NaN,Q,...,48.0,34.0,7.0,12.0,0.0,3.0,140.0,396.0,12.0,2220.0

In [22]:
djokol[djokol['tourney_level'] == 'G']['surface'].count()

6

In [23]:
djokol[djokol['tourney_level'] == 'G'].count()/djokow[djokow['tourney_level'] == 'G'].count()

0.1935483870967742

In [9]:
data['tourney_level'].value_counts()

A    1547
M     567
G     508
D     236
F      31
Name: tourney_level, dtype: int64